body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  background-image: url(/bilder/andrew-w-Ch0EbLhaPlQ-unsplash\(1\).jpg);
=======
  background-image: url(bilder/bakgrund.jpg);
>>>>>>> 7ec13db5777a5aba1149162ad984feed545041da
  color: #e4e2ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-size:cover ;
  background-color: rgba(226, 135, 31, 0.658);
  background-blend-mode: multiply;
  filter: saturate(1.3);
}






#timer.green-bg {
  color: #e4e2ec;
  position: fixed;
  left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #118621;
  padding: 0.5em;
  border-radius: 50em;
  font-size: 1em;
  font-family: bold;
  width: 5em;
  height: 2em;
  text-align: center;
  margin: 1em auto;
  border: 0.1em solid #e4e2ec;
  box-shadow: 0 0em 0.4em rgba(0, 0, 0, 0.9);
}

#timer.red-bg {
  color: #e4e2ec;
  position: fixed;
  left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ce081b;
  padding: 0.5em;
  border-radius: 50em;
  font-size: 1em;
  font-family: bold;
  width: 5em;
  height: 2em;
  text-align: center;
  margin: 1em auto;
  border: 0.1em solid #e4e2ec;
  box-shadow: 0 0em 0.4em rgba(0, 0, 0, 0.9);


}


.container {
  width: 80%;
  max-width: 80%;
  margin: 1em auto 0;
  text-align: center;
  flex: 1; 
}

.score {
  position: fixed;
  right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #118621;
  padding: 1.3em;
  border-radius: 50em;
  font-size: 1em;
  font-family: bold;
  box-shadow: 0 0em 0.4em rgba(0, 0, 0, 0.9);
  width: 3em;
  height: 3em;
  text-align: center;
  border: 0.2em solid #e4e2ec;
  filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(330deg);

  
}

#score {
  font-size: 1.5em;
  font-family: bold;
}

.question {
  font-size: 1.5em;
  margin: 0.3em auto;
  background: rgba(14, 37, 183, 1);
  padding: 0.5em;
  border-radius: 0.2em;
  text-align: center;
  width: 40%;
  
}



.options {
  font-size: 1em;
  margin: 0.5em auto;
  border-radius: 1em;
  padding: 0.1em;
  text-align: center;
  width: 50%;
  max-width: 70em;
}

.options button {
  width: 60%;
  height: 3em;
  padding: 0.5em;
  margin: 0.4em 0;
  background-color: #d7ab7c;
  color: #111;
  border-radius: 1em;
  font-weight: 900;
  border-color: #70412f;
  border-width: 0.2em;
  font-size: 1em;
  cursor: pointer;
  transition:  0.2s ease;
  opacity: 0.2s ease;

  
}

.options button.correct {
  background-color: #118621;
  color: #e4e2ec;
  border: none;

}

.options button.incorrect {
  background-color: #ce081b;
  color: #e4e2ec;
  border: none;

}

.next-btn {
  display: flex;
  padding: 0.3em;
  background: 0.2s ease;
  color: #e4e2ec;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  transition:  0.2s ease;
  width: 15%;
  max-width: 70em;
  margin: 0.5em auto 0;
  text-align: center;
  flex: 1; 
  background: rgba(14, 37, 183, 1);


}

.next-btn:hover {
  background: #118621;
}

@media (max-width: 48em) { 
  header h1 {
    font-size: 1.5em;
  }

  .score {
    top: 1em;
    right: 1em;
    width: 2.5em;
    height: 2.5em;
    font-size: 0.8em;
  }

  #score {
    font-size: 1.2em;
  }

  .container {
    width: 70%;
  }

  .question {
    font-size: 2em;
    padding: 1em;
    width: 6em;
    max-width: 6em;
  }

  .options {
    padding: 1em;
  }

  .options button {
    font-size: 0.9em;
    padding: 0.8em;
  }

  .next-btn {
    font-size: 1em;
    width: 40%;
  }

  .question-image {
    max-height: 15em ;
    max-width: 15em;
  }
}

.image-container {
  text-align: center;
  margin: 15px 0;

}

.question-image {
    height: 20em;
    width: 30em;
    border-radius: 10px;
}







