body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: oklch(0.68 0.20 242);
  color: #e4e2ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0.1em;
  background: #181818;
  width: 100%;
  max-height: 0.1em;
}

header h1 {
  display: flex;
  margin: 0;
  font-size: 3.5em;
}


.container {
  width: 80%;
  max-width: 80%;
  margin: 2em auto 0;
  text-align: center;
  flex: 1; 
}

.score {
  position: fixed;
  right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #21dd3a;
  padding: 1.3em;
  border-radius: 50em;
  font-size: 1em;
  font-family: bold;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2);
  width: 3em;
  height: 3em;
  text-align: center;
}

#score {
  font-size: 1.5em;
  font-family: bold;
}

.question {
  font-size: 2em;
  margin: 1em auto;
  background: rgba(14, 37, 183, 0.6);
  padding: 0.5em;
  border-radius: 1em;
  text-align: center;
  width: 50%;
  max-width: 70em;
}



.options {
  font-size: 1.3em;
  margin: 1em auto;
  background: rgba(14, 37, 183, 0.6);
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 50%;
  max-width: 70em;
}

.options button {
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  background: #64cdd4;
  border: none;
  color: #181818;
  border-radius: 1em;
  font-size: 1em;
  cursor: pointer;
  transition:  0.3s ease;
  opacity: 0.3s ease;
}

.options button.correct {
  background-color: #21dd3a;
}

.options button.incorrect {
  background-color: #ce081b;
}

.next-btn {
  display: flex;
  padding: 1em;
  background: 0.3s ease;
  border: none;
  color: #f4eeee;
  border-radius: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 1.5em;
  transition:  0.3s ease;
  width: 25%;
  max-width: 70em;
  margin: 2em auto 0;
  text-align: center;
  flex: 1; 
  background-color: rgba(14, 37, 183, 0.6);
}

.next-btn:hover {
  background: #21dd3a;
}

@media (max-width: 48em) { 
  header h1 {
    font-size: 1.5em;
  }

  .score {
    top: 1em;
    right: 1em;
    width: 2.5em;
    height: 2.5em;
    font-size: 0.8em;
  }

  #score {
    font-size: 1.2em;
  }

  .container {
    width: 70%;
  }

  .question {
    font-size: 2em;
    padding: 1em;
  }

  .options {
    padding: 1em;
  }

  .options button {
    font-size: 0.9em;
    padding: 0.8em;
  }

  .next-btn {
    font-size: 1em;
    width: 40%;
  }
}




